<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kelime Çözümleyici</title>
</head>
<body>
    <h1>Kelime Analizi</h1>
    <form method="post">
        <label for="kelime">Kelime gir:</label>
        <input type="text" name="kelime" id="kelime" required>
        <button type="submit">Analiz Et</button>
    </form>

    {% if sonuc %}
        <h2>Sonuçlar:</h2>
        <ul>
            {% for analiz in sonuc %}
                <li>{{ analiz[0].result }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
